[phases.setup]
nixPkgs = ['nodejs_18', 'openssl']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = [
  'npm run build',
  'npm run prisma:generate'
]

[start]
cmd = 'npm run start'

[variables]
NODE_ENV = 'production'